<header>
    <h1>Ejercicio5</h1>
</header>
<main>
    <section>
        <h2>¿Cuál es tu nombre?</h2>
    <form action ='@Url.Action("Esapto", "Sitio")' method="get">
    <input type="text" name = "nombre" placeholder="Escribe tu nombre">
        <h2>¿Cuál es tu edad?</h2>
    <input type="number" name = "edad" placeholder="Escribe tu edad">
        <h2>¿Cual es tu DNI?</h2>
    <input type="text" name = "dni" placeholder="Escribe tu DNI">
        <h2>¿Está trabajando?</h2>
    <input type="radio" name = "estaTrabajando" value="true" checked> SI
    <input type="radio" name = "estaTrabajando" value="false"> NO
    <h2>¿Tipo de empleo?</h2>
     <select name="tipoEmpleo">
        <option value="relacion de dependencia">Relación de dependencia</option>
        <option value="desempleado">Desempleado</option>
        <option value="monotribuista">Monotributista</option>
        <option value="autonomo">Autónomo</option>
     </select>
    <h2>ingreso mensual?</h2>
    <input type="number" name = "ingresoMensual" placeholder="Escribe tu ingreso mensual">
    <h2>Posee deudas?</h2>
    <input type="radio" name = "poseeDeudas" value="true" checked> SI
    <input type="radio" name = "poseeDeudas" value="false"> NO
    <h2>¿De donde son tus deudas?</h2>
    <input type="checkbox" name = "origenDeudas" value="banco"> Prestamo Bancario
    <input type="checkbox" name = "origenDeudas" value="tarjetaCredito"> Tarjeta de Credito
    <input type="checkbox" name = "origenDeudas" value="informal"> Prestamo Informal
    <input type ="checkbox" name = "origenDeudas" value = "no "> no tiene deudas
    <h2>monto solicidado?</h2>
    <input type="number" name = "montoSolicitado" placeholder="Escribe el monto solicitado">
    <h2>plazo de devolucion?</h2>
    <input type="radio" name ="plazoDeDevolucion" value="6 meses" checked> 6 meses
    <input type="radio" name ="plazoDeDevolucion" value="12 meses"> 12 meses
    <input type="radio" name ="plazoDeDevolucion" value="24 meses"> 24 meses

    <input type="submit" value="Enviar">
    </form>
    </section>
</main>
<footer>
</footer>